<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Timelapse Control</title>

  
  
  <link rel="stylesheet" href="static/css/shared.css" />
  
  <link rel="stylesheet" href="static/css/mobile.css" media="only screen and (max-width: 1445px)">
  <link rel="stylesheet" href="static/css/computer.css" media="only screen and (min-width: 14545px)">

  <!--
  <link rel="stylesheet" href="static/css/modal.css" />
  <link rel="stylesheet" href="static/mobile.css" media="only screen and (max-width: 1445px)">
  <link rel="stylesheet" href="static/style.css" media="only screen and (min-width: 14545px)">-->

  <script src="static/js/socket.io.min.js"></script>
  <script>
    
    window.appConfig = {{ config | tojson }};
  
    window.socket = io();
  
  </script>

  
  {% if config.debug %}
  <script src="{{ url_for('static', filename='js/logline.js') }}"></script>
  {% endif %}
  <script src="static/js/combined.js"></script> 
  <script src="static/js/modal.js"></script>
  <script src="static/js/tab-manager.js"></script>
  <script src="static/js/home.js"></script>
  <script src="static/js/settings-ui.js"></script>
  <script src="static/js/sessions.js"></script>
  
  
</head>
<body>
	<div id="main">
    {% include "partials/index_nav.html" %}

		<div id="info-box" class="info-box hidden"></div>

		{% include "partials/index_home.html" %}
    {% if config.debug %}
    {% include "partials/index_log.html" %}
    {% endif %}

    {% include "partials/index_settings.html" %}
    {% include "partials/index_sessions.html" %}
 	</div>
  {% include 'partials/modal.html' %}
	<!--<script src="static/script.js"></script>-->
  
</body>
</html>
